<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bem-vindo {{ .user }}</h1>


    <h3>Novo email</h3>

    <form action="/api/new_contact" method="post">
        <input type="email" name="email" id="email" required placeholder=" ">
        <label for="email">Novo E-mail de Contato: </label>

        <button type="submit" class="btn">Cadastrar</button>
    </form>

    <div></div>

    <div>
        {{ range .contacts }}
            <div>
                <strong>{{ .Id }}</strong>

                <form action="/api/update_contact" method="post">
                    <input type="hidden" name="contact_id" value="{{ .Id }}" required>
                    <input type="text" name="email" value="{{ .Email }}" required>
                    <input type="submit" value="Alter Contact">
                </form>

                <form action="/api/delete_contact" method="post">
                    <input type="hidden" name="contact_id" value="{{ .Id }}" required>
                    <input type="submit" value="Delete Contact">
                </form>
            </div>
        {{ end }}
    </div>


    <hr>


    <form action="/api/new_device" method="post">
        <input type="mac_addr" name="mac_addr" id="mac_addr" required placeholder=" ">
        <label for="device">Novo Dispositivo: </label>

        <button type="submit" class="btn">Cadastrar</button>
    </form>

    <div>
    {{ range .devices }}
        <div>
            <strong>{{ .Id }}</strong>
            <p>{{ .MacAddr }}</p>

            <form action="/api/update_device" method="post">
                <input type="hidden" name="device_id" value="{{ .Id }}" required>
                <input type="text" name="mac_addr" value="{{ .MacAddr }}" required>
                <input type="submit" value="Alter device">
            </form>

            <form action="/api/delete_device" method="post">
                <input type="hidden" name="device_id" value="{{ .Id }}" required>
                <input type="submit" value="Delete device">
            </form>
        </div>
    {{ end }}
    </div>




</body>
</html>

