<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bem-vindo {{ .user }}</h1>


    <h3>Novo email</h3>

    <form action="/api/new_contact" method="post">
        <input type="email" name="email" id="email" required placeholder=" ">
        <label for="email">Novo E-mail de Contato: </label>

        <button type="submit" class="btn">Cadastrar</button>
    </form>

    <div></div>

    <div>
        {{ range .contacts }}
            <div>
                <strong>{{ .Id }}</strong>
                <p>{{ .Email }}</p>
            </div>
        {{ end }}
    </div>

</body>
</html>